<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      OpenPAYGO Pass
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">OpenPAYGO Pass</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card class="special-card-centered">
    <ion-card-header>
      <ion-card-title class="ion-text-center">OpenPAYGO Pass</ion-card-title>
      <ion-card-subtitle class="ion-text-center">{{ 'TOUCH_PASS' | translate }}</ion-card-subtitle>
    </ion-card-header>

    <h1 class="ion-text-center huge-icon">
      <img src="assets/img/pass_please_tap.png" class="big-image">
    </h1>
  
    <ion-card-content>
      {{ 'OPENPAYGO_PASS_INSTRUCTIONS' | translate }}
    </ion-card-content>
  </ion-card>

</ion-content>
