<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pass" href="/tabs/pass">
      <ion-icon aria-hidden="true" name="id-card-outline"></ion-icon>
      <ion-label>Pass</ion-label>
    </ion-tab-button>

    <!-- ion-tab-button tab="bridge" href="/tabs/bridge">
      <ion-icon aria-hidden="true" name="git-compare-outline"></ion-icon>
      <ion-label>Bridge</ion-label>
    </ion-tab-button !-->

    <ion-tab-button tab="info" href="/tabs/info">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
