.bottom-text-container {
    position: absolute;
    bottom: 56px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px; /* Optional: Add padding to the container */
}

.hidden-text {
    color: #333;
}